In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#import seaborn as sns
from matplotlib import rc
#sns.set(style="darkgrid")
%pylab qt

Populating the interactive namespace from numpy and matplotlib

D:\Programi\Anaconda\lib\site-packages\IPython\core\magics\pylab.py:159: UserWarning: pylab import has clobbered these variables: ['rc']
`%matplotlib` prevents importing * from pylab and numpy
  warn("pylab import has clobbered these variables: %s"  % clobbered +

In [2]:
t_sve={'Cutof':  ['10', '20','30','40'],
     'T7': [0.91, 0.93,0.92,0.87 ],
     'T8': [1, 1,0.95,0.95 ],
        'T9': [0.77, 0.43, 0.2, 0.04 ]
     }

sve_df=pd.DataFrame (t_sve,columns = ['Cutof','T7', 'T8', 'T9'])

In [3]:
#rezultati NH_adamic
NH_adamic={'Cutof':  ['10', '20','30','40'],
               
         'T1b': [0.69, 0.45,0.45,0.45 ],
         'T2b': [0.33, 0.25, 0.31, 0.52 ],
        'T3b': [0.2, 0.19, 0.15, 0.1 ],
        'T4b': [0.15, 0.14, 0.11, 0.09 ],
        'T5b': [0.15, 0.14, 0.11, 0.09 ],
        'T6b': [0.0, 0.0, 0.0, 0.00 ],
        'T7b': [0.0, 0.0, 0.0, 0.00 ],
        'T8b': [0.0, 0.0, 0.0, 0.00 ],
        'T9b': [0.0, 0.0, 0.0, 0.00 ],
     }

NH_adamic=pd.DataFrame (NH_adamic,columns = ['Cutof','T1b', 'T2b', 'T3b', 'T4b', 'T5b','T6b', 'T7b', 'T8b', 'T9b'])
NH_adamic

  Cutof   T1b   T2b   T3b   T4b   T5b  T6b  T7b  T8b  T9b
0    10  0.69  0.33  0.20  0.15  0.15  0.0  0.0  0.0  0.0
1    20  0.45  0.25  0.19  0.14  0.14  0.0  0.0  0.0  0.0
2    30  0.45  0.31  0.15  0.11  0.11  0.0  0.0  0.0  0.0
3    40  0.45  0.52  0.10  0.09  0.09  0.0  0.0  0.0  0.0

In [4]:
#rezultati NH_jaccard
NH_jaccard={'Cutof':  ['10', '20','30','40'],
               
         'T1b': [0.057, 0.46,0.45,0.448 ],
         'T2b': [0.25, 0.29, 0.26, 0.38 ],
        'T3b': [0.12, 0.24, 0.18, 0.15 ],
        'T4b': [0.11, 0.09, 0.07, 0.06 ],
        'T5b': [0.11, 0.02, 0.01, 0.01 ],
        'T6b': [0.04, 0.001, 0.001, 0.001 ],
        'T7b': [0.0, 0.005, 0.004, 0.003 ],
        'T8b': [0.0, 0.004, 0.004, 0.003 ],
        'T9b': [0.0, 0.0, 0.06, 0.04 ],
     }

NH_jaccard=pd.DataFrame (NH_jaccard,columns = ['Cutof','T1b', 'T2b', 'T3b', 'T4b', 'T5b','T6b', 'T7b', 'T8b', 'T9b'])
NH_jaccard

  Cutof    T1b   T2b   T3b   T4b   T5b    T6b    T7b    T8b   T9b
0    10  0.057  0.25  0.12  0.11  0.11  0.040  0.000  0.000  0.00
1    20  0.460  0.29  0.24  0.09  0.02  0.001  0.005  0.004  0.00
2    30  0.450  0.26  0.18  0.07  0.01  0.001  0.004  0.004  0.06
3    40  0.448  0.38  0.15  0.06  0.01  0.001  0.003  0.003  0.04

In [5]:
#rezultati NH_RAI
NH_RAI={'Cutof':  ['10', '20','30','40'],
               
         'T1b': [0.14, 0.45,0.45,0.44 ],
         'T2b': [0.25, 0.29, 0.26, 0.38 ],
        'T3b': [0.22, 0.18, 0.07, 0.03 ],
        'T4b': [0.0, 0.0, 0.14, 0.05 ],
        'T5b': [0.0, 0.0, 0.14, 0.05 ],
        'T6b': [0.0, 0.0, 0.14, 0.002 ],
        'T7b': [0.0, 0.0, 0.01, 0.007 ],
        'T8b': [0.0, 0.0, 0.012, 0.007 ],
        'T9b': [0.0, 0.0, 0.013, 0.00 ],
        
     }

NH_RAI=pd.DataFrame (NH_RAI,columns = ['Cutof','T1b', 'T2b', 'T3b', 'T4b', 'T5b','T6b', 'T7b', 'T8b', 'T9b'])

In [6]:
#rezultati NH_PA
NH_PA={'Cutof':  ['10', '20','30','40'],
               
         'T1b': [0.01, 0.006,0.0002,0.01 ],
         'T2b': [0.0, 0.0, 0.0, 0.02 ],
        'T3b': [0.0, 0.0, 0.00, 0.0 ],
        'T4b': [0.0, 0.0, 0.0, 0.0 ],
        'T5b': [0.0, 0.0, 0.0, 0.0 ],
        'T6b': [0.0, 0.0, 0.00, 0.0 ],
        'T7b': [0.0, 0.0, 0.0, 0.0 ],
        'T8b': [0.0, 0.0, 0.0, 0.0 ],
       'T9b': [0.0, 0.0, 0.0, 0.0 ],
     }

NH_PA=pd.DataFrame (NH_PA,columns = ['Cutof','T1b', 'T2b', 'T3b', 'T4b', 'T5b','T6b', 'T7b', 'T8b', 'T9b'])

In [7]:
#Vizualizacija

var=NH_adamic

plt.plot( 'Cutof', 'T1b', data=var)
plt.plot( 'Cutof', 'T2b', data=var)
plt.plot( 'Cutof', 'T3b', data=var)
plt.plot( 'Cutof', 'T4b', data=var)
plt.plot( 'Cutof', 'T5b', data=var)
plt.plot( 'Cutof', 'T6b', data=var)
plt.plot( 'Cutof', 'T7b', data=var)
plt.plot( 'Cutof', 'T8b', data=var)
plt.plot( 'Cutof', 'T9b', data=var)
plt.xlabel('Cutoff value %', fontsize=24)
plt.ylabel('Precision', fontsize=24)
plt.tick_params(labelsize='large')
plt.legend(fontsize=13)


plt.plot()

[]